/* main css file */
body{
font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
background-image:url('http://trillenthemes.files.wordpress.com/2010/07/blurry-lights-background.jpg');
background-size: 100%;
}
p, h1, form, button{border:0; margin:0; padding:0;}

#navbar ul { 
	margin: 0; 
	padding: 10px; 
	list-style-type: none; 
	text-align: center; 
	background-color: #aaccff; 
	} 
 
#navbar ul li {  
	display: inline; 
	} 
 
#navbar ul li a { 
	text-decoration: none; 
	padding: .2em 1em; 
	color: #fff; 
	background-color: #aaccff; 
	} 
 
#navbar ul li a:hover { 
	color: #000; 
	background-color: #fff; 
	} 
 
 
 #header {
	text-align: center;
	}

#user_logged {
	float: right;
	clear: right;
	background-color: red;
	color: white;
	float: right;
	clear: right;
}

#offset_balancer {
	float: left;
	clear: left;
	visibility: hidden;
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

#welcome_div {
	margin-top: 10%;
}

.welcome {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	text-align: center;
}
